<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book | Inventory</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
      <h1>Books Inventory</h1>
      <form class="" action="{% url 'books:results'%}" method="post">
        {% csrf_token %}
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search by title or category">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Submit</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </form>
      <div class="row">
        {% if books %}
          {% for book in books %}
          <div class="col-lg-offset-3">
            <div class="">
              {{ book.title }}
              <span class="pull-right">{{ book.category }}</span>
              <p>
                {{ book.short_description }}
              </p>
            </div>

          </div>
          {% endfor %}
        {% else %}
          There are no books.
        {% endif %}
      </div>


    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
